<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{% block page_title %}TITRE_DE_LA_PAGE{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block css %} {% endblock %}
	{% block js %} {% endblock %}
  </head>

  <body id="index" class="home"> 
    
    <header id="banner" class="body">
      <h1><a href="#">TITRE<strong>Sous-Titre<del>XXXX</del>
            <ins>YYYY</ins></strong></a></h1>
      <nav>
        <ul>
          <li class="active"><a href="#">home</a></li>
          <li><a href="#">Menu1</a></li>
          <li><a href="#">Menu2</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>
    </header>
    <!-- /#banner -->
    
    <aside id="featured" class="body">
      <article>
        <figure> <img src="images/temp/sm-logo.gif" alt="Smashing Magazine"> </figure>
        <hgroup>
          <h2>Featured Article</h2>
          <h3><a href="#">HTML5 in Smashing Magazine!</a></h3>
        </hgroup>
        <p>Discover how to use Graceful Degradation and Progressive Enhancement
          techniques to achieve an outstanding, cross-browser <a href="http://dev.w3.org/html5/spec/Overview.html"

            rel="external">HTML5</a> and <a href="http://www.w3.org/TR/css3-roadmap/"

            rel="external">CSS3</a> website today!</p>
      </article>
    </aside>
    <!-- /#featured -->
    
    
    <section id="content" class="body">
          <article class="hentry">
            <header>
              <h2 class="entry-title"><a href="#" rel="bookmark" title="Permalink to this POST TITLE">This
                  be the title</a></h2>
            </header>
            <footer class="post-info"> <abbr class="published" title="2005-10-10T14:07:00-07:00"><!-- YYYYMMDDThh:mm:ss+ZZZZ -->
                10th October 2005 </abbr>
              <address class="vcard author"> By <a class="url fn" href="#">Enrique
                  Ramírez</a> </address>
            </footer>
            <!-- /.post-info -->
            <div class="entry-content">
				{% block content %}
				{% endblock %}
            </div>
            <!-- /.entry-content --> </article>
      <!-- /#posts-list --> 
	</section>
    <!-- /#content -->
    
    <section id="extras" class="body">
      <div class="blogroll">
        <h2>blogroll</h2>
        <ul>
          <li><a href="#" rel="external">LIEN</a></li>
        </ul>
      </div>
      <!-- /.blogroll -->
      <div class="social">
        <h2>social</h2>
        <ul>
          <li><a href="http://other_lien" rel="me">LIEN</a></li>
        </ul>
      </div>
      <!-- /.social -->
    </section>
    <!-- /#extras -->
    
    
  </body>
</html>
