#table_list {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 100%;
	border-collapse: collapse;
}

#table_list td, #table_list th {
	font-size: 1em;
	border: 1px solid #bab8af;
	padding: 3px 7px 2px 7px;
}

#table_list th {
	font-size: 1.1em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #bab8af;
	color: #ffffff;
}

#table_list tr.alt td {
	color: #000000;
	background-color: #bab8af;
}
